*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  /* font-family: sans-serif; */
}

 body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
 }

 .container{
  width: 600px;
  height:100vh;
  border-radius: 10px;
  background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   margin: 0;
   /* padding: 10px; */

 }

 @media (max-width:768px) {
  .container{
    width: 100%;
    height: 100vh;
  }

  
 }
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: min-content; */
  height: 10vh;
  padding-bottom: 5px;
  border-bottom: 1px solid #99d2e9b9;
  margin-top: 10px;
  /* border: 1px solid; */
}
.searchBox{
  /* margin-top: 20px; */
  /* padding-bottom: 5px; */
  width: 90%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #99d2e9b9; */

}

.searchBox input{
  width: 84%;
  /* font-size: 20px; */
  /* text-transform: capitalize; */
  color: black;
  background-color: #e6f5fb;
  padding: 12px 16px;
  border-radius: 14px;
}

.searchBox input::placeholder{
  color: black;
}

.searchBox button{
  width: 46px;
  height: 46px;
  background-color: #e6f5fb;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

 .weather-body{
  /* border: 1px solid; */
  height: 90vh;
  width: 100%;

  /* border-bottom: 1px solid; */
    border-bottom: 1px solid #99d2e9b9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
 }

 .weather-body span{
  color: aqua;
 }

 .weather-body .temp{
  font-size: 40px;
 }
 .weatherImg {
  width: 160px;
  height: 160px;
  
   
  display: block;
}


.moreInfoBox{
  /* border: 1px solid; */
  border-top: 1px solid #99d2e9b9;  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}
.moreInfoBox span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#pressure{
  height: 40px;
  width: 40px;
}
#humidity{
  height: 40px;
  width: 40px;
}

.notFound{
 font-family: monospace;
 font-size: larger;
 opacity: .8;
}
#notFoundImg{
  width: 20%;
}

#errorHndlr{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
}

.clouds {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.rain {
  background: linear-gradient(to right, #373b44, #4286f4);
}

.snow {
  background: linear-gradient(to right, #e6dada, #274046);
}

.mist {
  background: linear-gradient(to right, #d7d2cc, #304352);
}
 